{% extends "common/base.html" %}
{% load method_override %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<h2 class="text-center mt-3 mb-3">PERIODOS ACADEMICOS</h2>
<div class="container">
  <div>
 
  </div>
  <div class="shadow-div mt-3">
    <table class="table table-sm table-striped shadow-div">
      <thead class="bg-nav">
        <tr>
          <th>Periodo</th>
          <th>
            <a
              type="button"
              class="text-dark btn btn-sm btn-success"
              data-bs-toggle="modal"
              data-bs-target="#academicPeriodModal"
              name="new"
              onclick="handleForm(this)"
              >
              + Nuevo
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for academic_period in academic_periods %}
        <tr>
          <td name="period">{{ academic_period.period }}</td>
          <td>
            <a
              type="button"
              class="btn btn-sm btn-info text-dark"
              data-bs-toggle="modal"
              data-bs-target="#academicPeriodModal"
              name="edit"
              data-id="{{ academic_period.id }}"
              onclick="handleForm(this)"
            >
              Editar
            </a>
            <a
              type="button"
              class="btn btn-sm btn-danger text-dark"
              href="{% url 'academic-period' academic_period_id=academic_period.id %}"
            >
              Eliminar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="academicPeriodModal"
  tabindex="-1"
  aria-labelledby="academicPeriodModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content bg-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="academicPeriodModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="p-3 rounded needs-validation" action="" method="POST" id="form" novalidate>
        {% csrf_token %}
        {% method_override 'PUT' %}
        <div class="modal-body">
          <div class="form-group">
            {{ form | crispy }} <br />
          </div>
        </div>
        <hr size="10" class="mt-0">
        <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-success mr-auto" type="submit" id="button_edit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let form = document.getElementById("form")
  let uri = "/academic-data/academic-periods/"
  
  function handleForm(obj) {
    let buttonAction = obj.getAttribute("name")
    let modal = document.getElementById("academicPeriodModal")
    let title = modal.querySelector("h5")
    
    if (buttonAction === "new") {
      form.reset()
      form.querySelector("input[name='_method']").value = "POST"
      form.action = uri
      title.innerHTML = "Nuevo Periodo Academico"
    } else if (buttonAction === "edit") {
      form.reset()
      let academicPeriodId = obj.getAttribute("data-id")
      let period = obj.parentNode.parentNode.querySelector('td[name="period"]').textContent
      loadData(period)
      form.action = `${uri}${academicPeriodId}/`
      title.innerHTML = "Editar Periodo Academico"
    }
  }
  
  function loadData(data) {
    form.querySelector("input[name='period']").value = data
  }
</script>

{% endblock content %}