{% extends "common/base.html" %}
{% load method_override %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<h2 class="text-center mt-3 mb-3 text-box">SECCIONES</h2>
<div class="shadow-div mt-3">
  <table class="table table-sm table-striped shadow-div">
    <thead class="bg-nav">
      <tr>
        <th>Grupo</th>
        <th class="buton-right">
          <a
          type="button"
          class="text-dark btn btn-sm btn-success"
          name="new"
          data-bs-toggle="modal"
          data-bs-target="#sectionModal"
          onclick="handleForm(this)"
          >
          + Nuevo
        </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for section in sections %}
      <tr>
        <td>{{ section.group }}</td>
        <td class="buton-right">
          <a
            type="button"
            class="btn btn-sm btn-info text-dark"
            data-bs-toggle="modal"
            data-bs-target="#sectionModal"
            name="edit"
            data-id="{{ section.id }}"
            data-section="{{ section }}"
            onclick="handleForm(this)"
          >
            Editar
          </a>
          <!--a
            type="button"
            class="btn btn-sm btn-danger text-dark"
            href="{% url 'section' section_id=section.id %}"
          >
            Eliminar
          </a--->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="sectionModal"
  tabindex="-1"
  aria-labelledby="sectionModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content bg-modal">
      <div class="modal-header div-glass-blue">
        <h5 class="modal-title" id="sectionModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="p-3 rounded is-invalid" action="" method="POST" id="form" novalidate>
        {% csrf_token %}
        {% method_override 'PUT' %}
        <div class="modal-body">
          <div class="form-group">
            {{ form | crispy }} <br />
          </div>
        </div>
        <hr size="10" class="mt-0">
        <div class="d-flex justify-content-end">
            <button class="btn btn-glass-blue text-box mr-auto" type="submit" id="button_edit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let form = document.getElementById("form")
  let uri = "/academic-data/sections/"
  
  function handleForm(obj) {
    let buttonAction = obj.getAttribute("name")
    let modal = document.getElementById("sectionModal")
    let title = modal.querySelector("h5")
    
    if (buttonAction === "new") {
      form.reset()
      form.querySelector("input[name='_method']").value = "POST"
      form.action = uri
      title.innerHTML = "Nueva Seccion"
    } else if (buttonAction === "edit") {
      let sectionId = obj.getAttribute("data-id")
      let sectionData = obj.getAttribute("data-section")
      loadData(sectionData)
      form.action = `${uri}${sectionId}/`
      title.innerHTML = "Editar Seccion"
    }
  }

  function loadData(data) {
    form.querySelector("input[name='group']").value = data
  }
</script>

{% endblock content %}