{% extends "common/base.html" %}
{% load method_override %}

{% block content %}
<div class="mt-3">
  <a
    type="button"
    class="btn btn-outline-primary"
    data-bs-toggle="modal"
    data-bs-target="#gradeModal"
    name="new"
    onclick="handleForm(this)"
  >
    + Nuevo grado
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Año</th>
      <th>*</th>
    </tr>
  </thead>
  <tbody>
    {% for grade in grades %}
    <tr>
      <td>{{ grade.year }}</td>
      <td>
        <a
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#gradeModal"
          name="edit"
          data-id="{{ grade.id }}"
          data-grade="{{ grade }}"
          onclick="handleForm(this)"
        >
          Editar
        </a>
        <a
          type="button"
          class="btn btn-danger"
          href="{% url 'grade' grade_id=grade.id %}"
        >
          Eliminar
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="gradeModal"
  tabindex="-1"
  aria-labelledby="gradeModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gradeModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="p-3 border border-primary rounded" action="" method="POST" id="form">
        {% csrf_token %}
        {% method_override 'PUT' %}
        <div class="modal-body">
          <div class="form-group">
            {{ form.year.label_tag }} <br />
            {{ form.year }}
          </div>
        </div>
        <hr size="10" class="mt-0">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary mr-auto" type="submit" id="button_edit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let form = document.getElementById("form")
  let uri = "/academic-data/grades/"
  
  function handleForm(obj) {
    let buttonAction = obj.getAttribute("name")
    let modal = document.getElementById("gradeModal")
    let title = modal.querySelector("h5")
    
    if (buttonAction === "new") {
      form.reset()
      form.querySelector("input[name='_method']").value = "POST"
      form.action = uri
      title.innerHTML = "Nueva Seccion"
    } else if (buttonAction === "edit") {
      let gradeId = obj.getAttribute("data-id")
      let gradeData = obj.getAttribute("data-grade")
      loadData(gradeData)
      form.action = `${uri}${gradeId}/`
      title.innerHTML = "Editar Seccion"
    }
  }

  function loadData(data) {
    form.querySelector("input[name='year']").value = data
  }
</script>

{% endblock content %}