{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edoardo Crema</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link
      id="pagestyle"
      href="{% static 'common/css/sidebar.css' %}"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gradient-home">
      <div class="mt-4">
        {% block content %}{% endblock content %}
      </div>
    <script src="{% static 'common/js/functions.js' %}"></script>
  </body>
</html>
