{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edoardo Crema</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link id="pagestyle" href="{% static 'common/css/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/Chart.min.js' %}"></script>
    {{ form.media.css }}
  </head>
  <body>
    <nav class="navbar bg-nav">
      <div class="col-sm-1">
        <a class="navbar-brand text-box text-cur" href="/home"><img class="img-fluid rounded img-nav" src="{% static 'common/img/ingsignea-ec.png' %}" alt="" />Home</a>
      </div>
      <div class="col-sm-10">
        <h1 class="text-center font-nav mt-1">U.E.N EDOARDO CREMA</h1>
      </div>
      <div class="col-sm-1 text-center">
        <a class="navbar-brand" href="#"><img class="img-fluid rounded img-nav" src="{% static 'common/img/Go-back.png' %}" alt="" onclick="come_back()" /></a>
      </div>
    </nav>
    <div id="overlay" class="overlay hide-overlay"></div>
      <section class="{% if is_home %}invisible{% endif %}" onmouseover="openMenu()" onmouseleave="openMenu()">
        <div class="sidebar hide-sidebar" id="sidebar">
          <ul>
            {% if user_group == "admin" %}
            <li class="link-sidebar">
              <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'user-list' %}">
                <div class="row row-box">
                  <div class="col-sm-12 text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/usuarios.png' %}" alt="...">
                    Usuarios
                  </div>
                </div>
              </a>
            </li>
            <li class="link-sidebar">
              <a type="button" class="btn-link btn btn-box-sidebar border-radius-xl" href="{% url 'sections' %}">
                <div class="row row-box">
                  <div class="container text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/sections.png' %}" alt="...">
                    Secciones
                  </div>
                </div>
              </a>
            </li>
            <li class="link-sidebar">
              <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'grades' %}">
                <div class="row row-box">
                  <div class="col-sm-12 text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/grades.png' %}" alt="...">
                    Grados
                  </div>
                </div>
              </a>
            </li>
            <li class="link-sidebar">
              <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'subjects' %}">
                <div class="row row-box">
                  <div class="col-sm-12 text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/materias.png' %}" alt="...">
                    Materias
                  </div>
                </div>
              </a>
            </li>
            <li class="link-sidebar">
              <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'teachers-list' %}">
                <div class="row row-box">
                  <div class="col-sm-12 text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/profesor.png' %}" alt="...">
                    Profesores
                  </div>
                </div>
              </a>
            </li>
            <li class="link-sidebar">
              <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'academic-periods' %}">
                <div class="row row-box">
                  <div class="col-sm-12 text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/calendario.png' %}" alt="...">
                    Periodos Academicos
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {% if user_group == "admin" or user_group == "coordinacion" or user_group == "control_estudio" %}
            <li class="link-sidebar">
                <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'representatives-list' %}">
                  <div class="row row-box">
                    <div class=" col-sm-12 text-box">
                      <img class="img-button-box-sidebar" src="{% static 'common/img/representantes.png' %}" alt="...">
                      Representantes
                    </div>
                  </div>
                </a>
            </li>
            <li class="link-sidebar">
              <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'students-list' %}">
                <div class="row row-box">
                  <div class=" col-sm-12 text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/students.png' %}" alt="...">
                    Estudiantes
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {% if user_group == "admin" or user_group == "coordinacion" %}
            <li class="link-sidebar">
              <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'tuitions-list' %}">
                <div class="row row-box">
                  <div class="col-sm-12 text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/matricula.png' %}" alt="...">
                    Matriculas
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            <li class="link-sidebar">
              <a type="button" class="btn-link btn  btn-box-sidebar border-radius-xl" href="{% url 'logout' %}">
                <div class="row row-box">
                  <div class="col-sm-12 text-box">
                    <img class="img-button-box-sidebar" src="{% static 'common/img/logout.png' %}" alt="...">
                    Salir
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
 
    <div class="container-sm">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'common/js/functions.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{ form.media.js }}
    <div class="alert">
      {% bootstrap_messages %}
    </div>
  </body>
</html>














