{% extends "common/base.html" %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}
<div class=" flex justify-content-center md:ml-6 text-center row">
  <div class="ml-3 relative">
    <div class="row mt-5 ">
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'user-list' %}"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/usuarios.png' %}" alt="...">
              Usuarios
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'sections' %}"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/sections.png' %}" alt="...">
              Secciones
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'grades' %}"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/grades.png' %}" alt="...">
              Grados
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'subjects' %}"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/materias.png' %}" alt="...">
              Materias
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'teachers-list' %}"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/profesor.png' %}" alt="...">
              Profesores
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'academic-periods' %}"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/calendario.png' %}" alt="...">
              Periodos Academicos
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row mt-5 ">
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'representatives-list' %}"
        >
          <div class="row row-box">
            <div class=" col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/representantes.png' %}" alt="...">
              Representantes
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'students-list' %}"
        >
          <div class="row row-box">
            <div class=" col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/students.png' %}" alt="...">
              Estudiantes
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'tuitions-list' %}"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/matricula.png' %}" alt="...">
              Matriculas
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          data-bs-toggle="modal"
          data-bs-target="#noteModal"
          href="#"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/notas.png' %}" alt="...">
              Carga de Notas
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-2 text-center mt-2">
        <a
          type="button" 
          class="btn-link btn btn-secondary border-0 btn-box border-radius-xl"
          href="{% url 'logout' %}"
        >
          <div class="row row-box">
            <div class="col-sm-12">
              <img class="img-button-box" src="{% static 'common/img/logout.png' %}" alt="...">
              Salir
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="noteModal"
  tabindex="-1"
  aria-labelledby="noteModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content bg-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">Tipo de Carga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="p-3">
        <a
          type="button"
          class="btn btn-sm btn-success d-block"
          href="{% url 'upload-qualification-by-tuition' %}"
        >
          Carga por matricula
        </a>
        <a
          type="button"
          class="btn btn-sm btn-success d-block mt-2"
          href="{% url 'upload-qualification-by-student' %}"
        >
          Carga por estudiante
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
