{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edoardo Crema</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    {% bootstrap_messages %}
  </head>
  <body>
    <div class="container p-5 border border-primary mt-5">
      <div class="d-flex justify-content-end">
        <a type="button" class="btn btn-outline-primary" href="{% url 'login' %}">
          Iniciar Sesión
        </a>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <h1>SISTEMA INTEGRAL EDOARDO CREMA</h1>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <img src="{% static 'common/img/escudo_edoardo_crema.jpeg' %}" alt="escudo_edoardo_crema">
      </div>
    </div>
  </body>
</html>
