{% extends "common/base.html" %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="card div-glass mt-3">
    <div class="card-header div-glass-blue">
      <h2 class="text-center text-box">{{ action }} DOCENTE</h2>
    </div>
    <div class="card-body">
      <form class="p-3  is-invalid" action="{{ form_action }}" method="POST" id="form" novalidate>
        {% csrf_token %}
        <div>
            <h3 class="text-box">Datos Filiatorios</h3>
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.second_name|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  {{ form.first_surname|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.second_surname|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  {{ form.identity_card|as_crispy_field }}
                </div>
                <div class="col-3">
                  {{ form.birthday_date|as_crispy_field }}
                </div>
                <div class="col-3">
                  {{ form.start_date|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  {{ form.subjects|as_crispy_field }}
                </div>
                <div class="col-3">
                  {{ form.status|as_crispy_field }}
                </div>
                <div class="col-3">
                  {{ form.gender|as_crispy_field }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-3">
                  <label for="id_country" class="form-label">Pais</label>
                  <select name="country" class="select form-select" id="id_country" onchange="handleChangeCountry(event)">
                    <option value="" selected>Seleccionar</option>
                    {% for country in countries %}
                      <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-2">
                  <div class="mb-3">
                    <label for="id_state" class="form-label">Estado</label>
                    <select name="state" class="select form-select" id="id_state" onChange="handleChangeState(event)" disabled>
                      <option value="" selected>Seleccionar</option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="mb-3">
                    <label for="id_capital" class="form-label">Capital</label>
                    <select name="capital" class="select form-select" id="id_capital" disabled>
                      <option value=""  selected>Seleccionar</option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="mb-3">
                    <label for="id_municipality" class="form-label">Municipio</label>
                    <select name="municipality" class="select form-select" id="id_municipality" onChange="handleChangeMunicipality(event)" disabled>
                      <option value="" selected>Seleccionar</option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <div>
                    <label for="id_parish" class="form-label">Parroquia</label>
                    <select name="address" class="select form-select" id="id_parish" disabled>
                      <option value="" selected>Seleccionar</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <hr size="10" class="mt-5">
        <div class="d-flex justify-content-end">
            <button class="btn btn-glass-blue text-box mr-auto" type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  


  <script>
    console.log('hola')
    console.log('{{countries}}')
    function handleChangeCountry(event) {
      let country_id = event.target.value
      console.log(country_id)
      let endpoint = `/api/countries/${country_id}/`
      
      fetch(endpoint)
        .then(response => {
          if (!response.ok) {
            throw new Error('Error en la solicitud: ' + response.statusText);
          }
          return response.json();
        })
        .then(data => {
          let selectState = document.getElementById("id_state");
          selectState.disabled = false;
          selectState.innerHTML = "";

          let newOption = document.createElement("option");
          newOption.value = "";
          newOption.text = "Seleccionar";
          selectState.add(newOption);
          
          data.states.forEach(state => {
            let newOption = document.createElement("option");
            newOption.value = state.id;
            newOption.text = state.name;
            selectState.add(newOption);
          })
        })
        .catch(error => {
          console.log(error)
        })
    }

    function handleChangeState(event) {
      let state_id = event.target.value
      let endpoint = `/api/states/${state_id}/`
      
      fetch(endpoint)
        .then(response => {
          if (!response.ok) {
            throw new Error('Error en la solicitud: ' + response.statusText);
          }
          return response.json();
        })
        .then(data => {
          let selectCapital = document.getElementById("id_capital");
          selectCapital.disabled = false;
          selectCapital.innerHTML = "";
          
          let newOptionCapital = document.createElement("option")
          newOptionCapital.value = "";
          newOptionCapital.text = data.capital;
          selectCapital.add(newOptionCapital);
          
          let selectMunicipality = document.getElementById("id_municipality");
          selectMunicipality.disabled = false;
          selectMunicipality.innerHTML = "";
          
          let newOptionMunicipality = document.createElement("option");
          newOptionMunicipality.value = "";
          newOptionMunicipality.text = "Seleccionar";
          selectMunicipality.add(newOptionMunicipality);
          
          data.municipalities.forEach(municipality => {
            let newOptionMunicipality = document.createElement("option")
            newOptionMunicipality.value = municipality.id;
            newOptionMunicipality.text = municipality.name;
            selectMunicipality.add(newOptionMunicipality);
          })
        })
        .catch(error => {
          console.log(error)
        })
    }

    function handleChangeMunicipality(event) {
      let municipality_id = event.target.value;
      let endpoint = `/api/municipalities/${municipality_id}/`

      fetch(endpoint)
        .then(response => {
          if (!response.ok) {
            throw new Error('Error en la solicitud: ' + response.statusText);
          }
          return response.json();
        })
        .then(data => {
          let selectParish = document.getElementById("id_parish");
          selectParish.disabled = false;
          selectParish.innerHTML = "";
          
          let newOptionParish = document.createElement("option");
          newOptionParish.value = "";
          newOptionParish.text = "Seleccionar";
          selectParish.add(newOptionParish);
          
          data.parishes.forEach(parish => {
            let newOptionParish = document.createElement("option")
            newOptionParish.value = parish.id;
            newOptionParish.text = parish.name;
            selectParish.add(newOptionParish);
          })
        })
        .catch(error => {
          console.log(error)
        })
    }
  </script>
{% endblock content %}
