{% extends "common/base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
  <h2 class="text-box">Carga de notas por matricula</h2>
</div>
<div>
  <form action="/academic-data/qualification/upload-qualification-by-tuition/" method="POST" id="qualifications_form" class="is-invalid">
    {% csrf_token %}
    <select class="form-select carga" name="tuition" id="selectTuition" onchange="handleChangeSelectTuition(event),block_unblock(this)">
      <option value="0" disabled selected>Seleccionar matricula</option>
      {% for tuition in tuitions %}
        <option value="{{tuition.id}}">{{tuition}}</option>
      {% endfor %}
    </select>
    <select class="form-select mt-3 carga" name="subject" id="selectSubject" onchange="handleChangeSelectSubject(event),block_unblock(this)">
      <option value="0" disabled selected>Seleccionar materia</option>
      {% for subject in subjects %}
        <option value="{{subject.id}}">{{subject}}</option>
      {% endfor %}
    </select>
    <select class="form-select mt-3 carga" name="moment" id="selectMoment" onchange="handleChangeSelectMoment(event),block_unblock(this)">
      <option value="0" disabled selected>Seleccionar momento</option>
      {% for moment in moments %}
        <option value="{{moment.id}}">{{moment}}</option>
      {% endfor %}
    </select>
    <div class="d-flex justify-content-end mt-3">
      <a class="btn btn-secondary mr-auto" id="consulta" onclick="getData(event),block_unblock(this)">Consultar</a>
    </div>
    <table class="table table-sm table-striped mt-3">
      <thead>
        <tr>
          <th>Estudiante</th>
          <th>Calificacion</th>
        </tr>
      </thead>
      <tbody id="body_table">
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mr-auto" id="save" disabled type="submit">Guardar</button>
    </div>
  </form>
</div>

<script>

</script>
{% endblock content %}