{% extends "common/base.html" %}
{% load crispy_forms_tags %} 
{% load crispy_forms_filters %}

{% block content %}
  <h2 class="text-center mt-3 mb-3">{{ action }} REPRESENTANTE</h2>
  <form class="p-3 border border-primary rounded is-valid" action="{{ form_action }}" method="POST" id="form" novalidate>
    {% csrf_token %}
    <div>
      <h2>Datos Filiatorios</h2>
      <div class="form-group">
        {{ form | crispy }} <br />
      </div>
    </div>

    <hr size="10" class="mt-0">

    <div class="d-flex justify-content-end">
        <button class="btn btn-primary mr-auto" type="submit">Guardar</button>
    </div>
  </form>
{% endblock content %}