{% extends "common/base.html" %}
{% load crispy_forms_tags %} 
{% load crispy_forms_filters %}

{% block content %}
  <div class="card div-glass mt-3">
    <div class="card-header div-glass-blue">
      <h2 class="text-center text-box ">{{ action }} REPRESENTANTE</h2>
    </div>
    <div class="card-body">
      <form class="p-3  is-valid" action="{{ form_action }}" method="POST" id="form" novalidate>
        {% csrf_token %}
        <div>
          <h3 class="text-box">Datos Filiatorios</h3>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                {{ form.first_name|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.second_name|as_crispy_field }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              {{ form.first_surname|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.second_surname|as_crispy_field }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            {{ form.identity_card|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.email|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.phone_number|as_crispy_field }}
          </div>
        </div>
    
        <hr size="10" class="mt-0">
    
        <div class="d-flex justify-content-end">
            <button class="btn btn-glass-blue text-box mr-auto" type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
 

{% endblock content %}