{% extends "common/base.html" %}

{% block content %}

<a href="{% url 'user-list' %}" class="fw-bold"><<< Volver</a>
<div class="mt-3">
  <h2>Actualizar usuario</h2>
</div>
<form method="post" action="{% url 'update-user' id=user_id %}">
  {% csrf_token %}
  <div>
    {{ form.email.label_tag }} <br />
    {{ form.email }}
  </div>
  <div class="mt-3">
    {{ form.group.label_tag }} <br />
    {{ form.group }}
  </div>
  <div class="mt-3">
    <button>Guardar</button>
  </div>
</form>

{% endblock content %}