{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edoardo Crema</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link
    id="pagestyle"
    href="{% static 'common/css/sidebar.css' %}"
    rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
          <div class="card border-0 shadow rounded-3 my-5 div-glass">
            <div class="card-title text-end bg-gradient-gray border-radius-xl">
              <div class="row ">
                <div class="col-sm-8 d-flex align-items-center text-center "><h2 class="mx-auto text-box">SISTEMA INTEGRAL EDOARDO CREMA</h2></div>
                <div class="col-sm-4"><img class="img-fluid rounded img-login" src="{% static 'common/img/ingsignea-ec.png' %}" alt=""></div>
              </div>
            </div>
            <div class="card-body p-4 p-sm-5">
              <form action="" method="post" class="form-control form-glass text-box is-invalid">
                {% csrf_token %}
                <div class="d-grid">
                  <label for="{{ form.username.id_for_label }}" class="fw-bold">
                    Correo electronico
                  </label>
                  <br />
                  <input
                    type="text"
                    name="{{ form.username.html_name }}"
                    placeholder="example@exa.com"
                    class="appearance-none block w-full px-3 py-2 border border-glass rounded-md shadow-sm placeholder-gray-400 sm:text-sm"
                    id="login"
                  />
                </div>
                {{ form.username.errors }}
                <div class="d-grid mt-3">
                  <label class="fw-bold"> Contraseña </label>
                  <br />
                  <input
                    type="password"
                    name="{{ form.password.html_name }}"
                    placeholder="********"
                    class="appearance-none block w-full px-3 py-2 border  border-glass rounded-md shadow-sm placeholder-gray-400 sm:text-sm"
                    id="login"
                  />
                </div>
                {{ form.password.errors }}
                <div class="d-grid mt-3 ">
                  <button class="btn text-uppercase text-box fw-bold form-glass" type="submit">INICIAR</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>

  </body>
</html>
