{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edoardo Crema</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    {% bootstrap_messages %}
  </head>
  <body>
    <div class="container p-5 mt-3 border border-primary d-flex justify-content-between">
      <div class="p-5">
        <div class="d-flex justify-content-center m-5">
          <h1>Iniciar Sesión</h1>
        </div>
        <div class="mb-5 d-flex justify-content-center">
          <form action="" method="post" class="border border-info p-5">
            {% csrf_token %}
            <div>
              <label for="{{ form.username.id_for_label }}" class="fw-bold">
                Correo electronico
              </label>
              <br />
              <input
                type="text"
                name="{{ form.username.html_name }}"
                placeholder="example@exa.com"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              />
            </div>
            {{ form.username.errors }}
            <div class="mt-3">
              <label class="fw-bold"> Contraseña </label>
              <br />
              <input
                type="password"
                name="{{ form.password.html_name }}"
                placeholder="********"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              />
            </div>
            {{ form.password.errors }}
            <div class="mt-4 d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="p-5">
        <div class="d-flex justify-content-center mt-5">
          <h2>SISTEMA INTEGRAL EDOARDO CREMA</h2>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <img src="{% static 'common/img/escudo_edoardo_crema.jpeg' %}" alt="escudo_edoardo_crema">
        </div>
      </div>
    </div>
  </body>
</html>
