{% extends "common/base.html" %} 
{% load bootstrap_icons %}

{% block content %}
<div class="shadow-div mt-3">
  <table class="table table-sm table-striped shadow-div">
    <thead class="bg-nav">
      <tr>
        <th>Email</th>
        <th>Grupo</th>
        <th> 
          <a
            href="{% url 'new-user' %}"
            type="button"
            class="text-light-dark btn btn-sm btn-info"
          >
            {% bs_icon 'person-plus' %}
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for user in object_list %}
      <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.group }}</td>
        <td>
          <a
          type="button"
          class="btn btn-sm btn-info text-light-dark"
          href="{% url 'edit-user' id=user.id %}"
          >
          {% bs_icon 'pencil-square' %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
