{% extends "common/base.html" %}
{% load method_override %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mt-3">
  <a
    type="button"
    class="btn btn-outline-primary"
    data-bs-toggle="modal"
    data-bs-target="#subjectModal"
    name="new"
    onclick="handleForm(this)"
  >
    + Nueva materia
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>*</th>
    </tr>
  </thead>
  <tbody>
    {% for subject in subjects %}
    <tr>
      <td>{{ subject.name }}</td>
      <td>
        <a
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#subjectModal"
          name="edit"
          data-id="{{ subject.id }}"
          data-subject="{{ subject }}"
          onclick="handleForm(this)"
        >
          {% bs_icon 'pencil-square' %}
        </a>
        <a
          type="button"
          class="btn btn-danger"
          href="{% url 'subject' subject_id=subject.id %}"
        >
          {% bs_icon 'trash' %}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="subjectModal"
  tabindex="-1"
  aria-labelledby="subjectModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subjectModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="p-3 border border-primary rounded needs-validation" action="" method="POST" id="form" novalidate>
        {% csrf_token %}
        {% method_override 'PUT' %}
        <div class="modal-body">
          <div class="form-group">
            {{ form | crispy }} <br />
          </div>
        </div>
        <hr size="10" class="mt-0">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary mr-auto" type="submit" id="button_edit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let form = document.getElementById("form")
  let uri = "/academic-data/subjects/"
  
  function handleForm(obj) {
    let buttonAction = obj.getAttribute("name")
    let modal = document.getElementById("subjectModal")
    let title = modal.querySelector("h5")
    
    if (buttonAction === "new") {
      form.reset()
      form.querySelector("input[name='_method']").value = "POST"
      form.action = uri
      title.innerHTML = "Nueva Materia"
    } else if (buttonAction === "edit") {
      let subjectId = obj.getAttribute("data-id")
      let subjectData = obj.getAttribute("data-subject")
      loadData(subjectData)
      form.action = `${uri}${subjectId}/`
      title.innerHTML = "Editar Materia"
    }
  }

  function loadData(data) {
    form.querySelector("input[name='name']").value = data
  }
</script>

{% endblock content %}