{% extends "common/base.html" %}
{% load method_override %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="text-center mt-3 mb-3 text-box">MATERIAS</h2>
<div class="shadow-div mt-3">
  <table class="table table-sm table-striped shadow-div">
    <thead class="bg-nav">
      <tr>
        <th>Nombre</th>
        <th>
          <a
            type="button"
            class="text-dark btn btn-sm btn-info"
            data-bs-toggle="modal"
            data-bs-target="#subjectModal"
            name="new"
            onclick="handleForm(this)"
          >
            + Nuevo
        </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
      <tr>
        <td>{{ subject.name }}</td>
        <td>
          <a
            type="button"
            class="btn btn-sm btn-info text-dark"
            data-bs-toggle="modal"
            data-bs-target="#subjectModal"
            name="edit"
            data-id="{{ subject.id }}"
            data-subject="{{ subject }}"
            onclick="handleForm(this)"
          >
            Editar
          </a>
          <a
            type="button"
            class="btn btn-sm btn-danger text-dark"
            href="{% url 'subject' subject_id=subject.id %}"
          >
            Eliminar
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="subjectModal"
  tabindex="-1"
  aria-labelledby="subjectModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog ">
    <div class="modal-content bg-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="subjectModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="p-3 rounded needs-validation" action="" method="POST" id="form" novalidate>
        {% csrf_token %}
        {% method_override 'PUT' %}
        <div class="modal-body">
          <div class="form-group">
            {{ form | crispy }} <br />
          </div>
        </div>
        <hr size="10" class="mt-0">
        <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-success mr-auto" type="submit" id="button_edit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let form = document.getElementById("form")
  let uri = "/academic-data/subjects/"
  
  function handleForm(obj) {
    let buttonAction = obj.getAttribute("name")
    let modal = document.getElementById("subjectModal")
    let title = modal.querySelector("h5")
    
    if (buttonAction === "new") {
      form.reset()
      form.querySelector("input[name='_method']").value = "POST"
      form.action = uri
      title.innerHTML = "Nueva Materia"
    } else if (buttonAction === "edit") {
      let subjectId = obj.getAttribute("data-id")
      let subjectData = obj.getAttribute("data-subject")
      loadData(subjectData)
      form.action = `${uri}${subjectId}/`
      title.innerHTML = "Editar Materia"
    }
  }

  function loadData(data) {
    form.querySelector("input[name='name']").value = data
  }
</script>

{% endblock content %}