html, body {
  min-height: 100%;
  background-attachment: fixed;
}


body::before {
  content: "";
  /*background: color(rgb(244, 244, 244));/*radial-gradient(circle, rgba(8, 72, 235, 0.248) 0%, rgba(242,242,242,1) 100%);*/
  background-color: rgba(65, 120, 229, 0.091);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

body::after {
  content: "";
  background: url('/static/common/img/ingsignea-ec.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -2;  
}


.border-radius-xl {
    border-radius: 0.75rem !important;
  }


  .ms-3 {
    margin-left: 1rem !important;
  }

.navbar-vertical.navbar-expand-xs {
  display: block;
  height: 95vh;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 15.625rem !important;
  overflow-y: auto;
  padding: 0;
  box-shadow: none;
}

.bg-nav {
  backdrop-filter: blur(2.4px) saturate(148%);
  -webkit-backdrop-filter: blur(2.4px) saturate(148%);
  background-color: rgba(6, 176, 255, 0);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /*background: radial-gradient(circle, rgba(253, 253, 253, 0.132) 20%, rgba(204, 204, 204, 0.446) 86%);*/
  color: rgba(39, 38, 38, 0.671) !important;
}

.bg-gradient-dark {
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
}

.bg-gray-200 {
  background-color: #f0f2f5 !important;
}

.bg-gradient-info {
  background-image: linear-gradient(195deg, #004cb7cc 0%,  #ffffff 100%);
}

.bg-gradient-home {
  background: rgb(0,159,255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.286) 0%, rgba(242,242,242,1) 100%);
}

.bg-gradient-light {
  background-color: #e9e9e9;
}

.btn.btn-box:hover{
  backdrop-filter: blur(2.4px) saturate(148%);
  -webkit-backdrop-filter: blur(2.4px) saturate(148%);
  background-color: rgba(6, 176, 255, 0);
  
}

.btn-box {
  height: 140px;
  width: 140px;
  backdrop-filter: blur(2.4px) saturate(148%);
  -webkit-backdrop-filter: blur(2.4px) saturate(148%);
  background-color: rgba(6, 176, 255, 0.472);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  
}

.text-box{
  color: rgba(39, 38, 38, 0.671) !important;
}


/*.btn-box2 {
  height: 140px;
  width: 140px;
  color :#1c1c1c95 !important;
  background-image: radial-gradient(#FFFFFF 0%,#9e9e9e 150% );
  background: rgb(195,209,218);
  background: radial-gradient(circle, rgba(195,209,218,0.958420868347339) 20%, rgba(15,70,125,1) 130%);
  box-shadow: 10px 5px rgba(0, 0, 0, 0.168);
  
}*/

.div-glass{
  backdrop-filter: blur(2.4px) saturate(148%);
  -webkit-backdrop-filter: blur(2.4px) saturate(148%);
  background-color: rgba(6, 176, 255, 0);
  border-radius: 12px;
}
.form-glass{
    backdrop-filter: blur(2.4px) saturate(148%);
  -webkit-backdrop-filter: blur(2.4px) saturate(148%);
  background-color: rgba(6, 176, 255, 0.359);
  border-radius: 12px;
  outline-color: rgba(6, 176, 255, 0.359);
}
.border-glass{
  backdrop-filter: blur(2.4px) saturate(148%);
  -webkit-backdrop-filter: blur(2.4px) saturate(148%);
  border-radius: 12px;
  outline-color: rgba(6, 176, 255, 0.359);
  
}

.bg-gradient-gray {
  background-color: rgba(6, 176, 255, 0.472);
  color : #ffffff !important;
}

.btn-link {
  text-decoration: none !important;
  color: #1b1b1b95 !important;
}

.row-box {
  padding: 1px;
}

.img-button-box {
  height: 85px !important;
  width: 85px !important;
}

.img-login {
  height: 150px !important;
  width: 150px !important;
}

.img-nav {
  height: 60px !important;
  width: 60px !important;
  margin-left: 10px;
}


.shadow-div {
  box-shadow: 10px 5px rgba(0, 0, 0, 0.065);
}

.text-light-dark {
  color: #4a4a4aab !important;
}

.bg-modal {
  background-color: #ffffffde;
  /*background: radial-gradient(circle, rgba(253, 253, 253, 0.132) 20%, rgba(204, 204, 204, 0.446) 86%);*/
  color: #4a4a4aab !important;
}

.alert {
  height: 100px !important;
  width: 300px !important;
  position: absolute;
  bottom: 5%;
  left: 0;
}

.text-sidebar {
  color: #ffffff !important;
}

.font-nav{
  font: optional;
}

.text-detail{
  text-transform: uppercase !important;
  font-weight: bold !important;
}
.table-detail{
  width: 100%;
}
.table-head{
  text-transform: uppercase !important;
}
.buton-right{
  align-items: end !important;
  text-align: right !important;
  text-transform: lowercase !important;
}
.info{
  font-weight: normal !important;
}
.search-box{
  width: 150px !important;
  height: 50% !important;
}
.table-body{
  text-transform: uppercase !important;
}