.border-radius-xl {
    border-radius: 0.75rem;
  }


  .ms-3 {
    margin-left: 1rem !important;
  }

.navbar-vertical.navbar-expand-xs {
  display: block;
  height: 95vh;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 15.625rem !important;
  overflow-y: auto;
  padding: 0;
  box-shadow: none;
}


.bg-gradient-dark {
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
}

.bg-gray-200 {
  background-color: #f0f2f5 !important;
}

.bg-gradient-info {
  background-image: linear-gradient(195deg, #004cb7cc 0%,  #ffffff 100%);
}

.bg-gradient-home {
  background-image: linear-gradient(195deg, #eff3f8 0%,  #6f6f6f 100%);
}

.bg-gradient-light {
  background-color: #ffffff;
}

.btn-box {
  height: 140px;
  width: 140px;
  color :#65656595 !important;
  background-image: radial-gradient(#FFFFFF 0%,#9e9e9e 150% );
  box-shadow: 10px 5px #bebebe4c;
  
}

.bg-gradient-gray {
  background-image: radial-gradient(#FFFFFF 0%,#9e9e9e 150% );
  /*color : #9e9e9e !important;*/
  color: #65656595 !important;
}

.btn-link {
  text-decoration: none !important;
  color: #65656595 !important;
  
}