html, body {
  min-height: 100%;
}


body::before {
  content: "";
  background: radial-gradient(circle, rgba(0,159,255,0.2861519607843137) 0%, rgba(242,242,242,1) 100%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

body::after {
  content: "";
  background: url('/static/common/img/ingsignea-ec.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;  
}


.border-radius-xl {
    border-radius: 0.75rem;
  }


  .ms-3 {
    margin-left: 1rem !important;
  }

.navbar-vertical.navbar-expand-xs {
  display: block;
  height: 95vh;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 15.625rem !important;
  overflow-y: auto;
  padding: 0;
  box-shadow: none;
}


.bg-gradient-dark {
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
}

.bg-gray-200 {
  background-color: #f0f2f5 !important;
}

.bg-gradient-info {
  background-image: linear-gradient(195deg, #004cb7cc 0%,  #ffffff 100%);
}

.bg-gradient-home {
  background: rgb(0,159,255);
  background: radial-gradient(circle, rgba(0,159,255,0.2861519607843137) 0%, rgba(242,242,242,1) 100%);
}

.bg-gradient-light {
  background-color: #ffffff;
}

.btn-box {
  height: 140px;
  width: 140px;
  color :#1c1c1c95 !important;
  /*background-image: radial-gradient(#FFFFFF 0%,#9e9e9e 150% );*/
  background: rgb(195,209,218);
  background: radial-gradient(circle, rgba(195,209,218,0.958420868347339) 20%, rgba(15,70,125,1) 130%);
  box-shadow: 10px 5px rgba(0, 0, 0, 0.402);
  
}

.bg-gradient-gray {
  background: rgb(195,209,218);
  background: linear-gradient(0deg, rgba(195,209,218,0.958420868347339) 30%, rgba(15,70,125,1) 86%);
  color : #ffffff !important;
}

.btn-link {
  text-decoration: none !important;
  color: #1b1b1b95 !important;
}

.row-box {
  padding: 8px;
}

.img-button-box {
  height: 100px !important;
  width: 100px !important;
}

.img-login {
  height: 150px !important;
  width: 150px !important;
}

.img-nav {
  height: 60px !important;
  width: 60px !important;
  margin-left: 10px;
}

.bg-nav {
  background-color: #ffffff61;
  /*background: radial-gradient(circle, rgba(253, 253, 253, 0.132) 20%, rgba(204, 204, 204, 0.446) 86%);*/
  color: #4a4a4aab !important;
}